extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-12

                +panel-primary("Activités proposées dans le programme de santé")
                    p
                        table.table-striped
                            tr
                                th Nom
                                th Description
                                th Nombre de place
                            each activite in listeDesActivites

                                tr
                                    td #{activite['designation']}
                                    td #{activite['description']}
                                    td #{activite['nbmax']}

                +panel-primary("Je me pré-inscris à une activité ")
                    form
                        .form-row
                                .form-group.col-md-4
                                    label(for='inputActivite') Activités
                                    select#inputActivite.form-control
                                        option(selected='') Choisir...
                                        each activite in listeDesActivites
                                            option(value= activite.id) #{activite.designation}
                                    .form-group.col-md-4
                                    form(method='POST' action='/activites')
                                        button.btn.btn-primary(type='submit') Pré-Inscription







    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
