extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../stylesheets/signin.css', rel='stylesheet')
block body
    .container
        form.form-signin(method='POST' action='/')
            h2.form-signin-heading Connectez-vous

            label.sr-only(for='inputEmail') Adresse Email

            input#inputEmail.form-control(type='email', placeholder='Adresse Email', name='email', required='', autofocus='')

            label.sr-only(for='inputPassword') Mot de passe

            input#inputPassword.form-control(type='password', name='password' placeholder='Mot de passe', required='')

            .checkbox
                label
                    input(type='checkbox', value='remember-me')
                    |  Se souvenir de moi

            button.btn.btn-lg.btn-primary.btn-block(type='submit') Se connecter
            br
            a.btn.btn-lg.btn-success(href='/connexionMedecin', role='button') Vous êtes medecin ?