extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Liste des séances par Activites")
                    p
                           form(method='post', action='/plusInfo')
                                each seance in listeDesSeancesDuneActivite
                                    input(type='radio', name='inscription', value=seance['codeseance'])
                                    |#{seance['dateseance'].toLocaleDateString()}
                                    br
                                input(type='submit')




    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
