extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Mes activitées" )
                    p
                        table.table-striped
                            each activite in listeActivitesInscrit
                                tr
                                    td
                                        a(href='/activites/'+ activite['identifiant']+'/seances') #{activite['designation']}



    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine