extends layout

block append body
    br
    .container
        .row.justify-content-center
            .col-xs-6

                +panel-primary("Liste des séances par Activites")
                    p
                        table.table-striped
                            each seance in listeDesSeancesActivites
                                tr
                                    td #{seance['dateseance'].toLocaleDateString()}
                                    td #{seance['designation']}




    .container
        // Site footer
        footer.footer
            p © M2L - Maison des ligues de Lorraine
